Django
djangorestframework
PyMySQL
celery
redis
django-celery-results
python-dotenv
gunicorn
tavily-python
groq
cryptography
whitenoise
djangorestframework-simplejwt
django-storages
boto3
pytest
pytest-django
pytest-cov